html, body, #page-wrapper {
  height: 100%;
  width: 100%;
  margin: 0px;
}

html{
  scroll-behavior: smooth;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h2 {

}

#top {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

#header {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

#header-img {
  display: block;
  height: 100%;
  object-fit: fill;
}

#dropdown{
  display:none;
  padding-right: 50px;
}

nav {

}

#nav-bar {
  width: 100%;
}

.navbar {
  list-style-type: none;
  height: 100%;
  margin: 0;
  background-color: #BEF202;
  width: 100%;
  padding-left: 0;
}

.item {
  float:left;
  height:100%;
}

.item a {
  text-decoration: none;
  color: #1B676B;
  text-align: center;
  display: block;
  padding: 2vh 2vw;
}

.item a:hover {
  background-color: #88C425;
}

#landing {
  margin-top: auto;
  height: 100%;
  position: relative;
  display: block;
}

#landing:after{
  content:"\A0";
  background:transparent url(img/beach.jpg);
  background-size: cover;
  opacity: 0.5;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position:absolute;
  z-index: -1;
}

#test-sec {
  background-color: #519548;
}

#cust-testimonials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

q {
  font-style: italic;
}

.testimonial {
  background-color: #EAFDE6;
  flex: 200px;
  padding: 10px;
  margin: 20px 75px;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 18pt;
}

.full-quote {
  display: block;
}

.snip-quote {
  display: none;
}

#first, #second, #third, #signup {
  text-align: center;
  height: 100vh;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.med-box {
  margin: 20px 25vw;
}

#third {
  flex-direction: row;
}
.price-cols {
  float:left;
  width: 30%;
  padding: 8px;
}

.price-details {
  list-style-type: none;
  border: 1px solid #1B676B;
  margin: 0;
  padding: 0;
}

.price-details .pack-type {
  background-color: #519548;
  font-size: 25px;
}

.price-details .pack-cost {
  background-color: #88C425;
  font-size: 20px;
}

.price-details li {
  border-bottom: 1px solid #1B676B;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 1250px){
  .full-quote {
    display: none;
  }
  .snip-quote {
    display: block;
  }
}

@media screen and (max-width: 600px){
  .navbar .item:not(:first-child){display: none;}
  #dropdown {
    float: right;
    display: block;
  }
  #third{
    flex-direction: column;
  }
  .price-cols {
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .navbar.responsive {
    height: auto;
    position: relative;
  }
  .navbar.responsive #dropdown{
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive .item {
    float:none;
    display: block;
    text-align: left;
  }
}
